<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lorem ipsum dolor sit amet</title>
  </head>
  <body>
    <h1>Consectetur adipiscing elit!</h1>
    <p>Duis at tellus enim. Nunc elementum orci et pretium fermentum.</p>
    <p>
      Sed efficitur eleifend justo sed dictum.
      <a href="https://www.lipsum.com">Lorem ipsum</a>
    </p>
  </body>
</html>
